/* src/App.css */
.navbar {
  background-color: #003366; /* Dark blue background */
  padding: 1rem 2rem; /* Top and bottom padding with more horizontal padding */
  display: flex;
  justify-content: space-between; /* Space between logo and navigation links */
  align-items: center;
  color: white;
}

.nav-logo, .navbar a {
  color: white; /* Ensures all text in the navbar is white */
  text-decoration: none; /* No underline for links */
  padding: 0.5rem; /* Padding around links for easier clicking */
  font-weight: bold;
}

.nav-logo {
  font-size: 1.5em; /* Larger text for logo */
}

.navbar a:hover {
  background-color: #0055b3; /* Lighter blue for hover */
}